$nav-red-color: rgb(228, 7, 81);
$nav-red-color-dark: #ff003357;
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}
img{
  object-fit: cover;
  object-position: center;
}
button:focus{
border: 0;
outline-width: 0;
}
.logo-brand{
  width: 30%;
}
#brandName {
  font-family: "Pacifico", cursive;
  color: white;
  font-variant: normal;
  font-style: normal;
  font-size: 1.8rem;
  text-transform: capitalize;
}
.main-navbar {
  position: fixed;
  z-index: 100;
  width: 100%;
  background: $nav-red-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}
.main-navbar-brand {
}
.main-navbar > ul {
  list-style: none;
  align-items: center;
}
.nav-link {
  padding: 0 20px;
  text-align: center;
}
.Home {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  margin: 0 !important;

  .main-wrapper {
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;

    .section-1 {
      display: flex;
      flex-direction: row;

      .content-wrapper {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 50vh;
        justify-content: center;
        align-items: flex-end;
        color: beige;
        font-family: "Pacifico", cursive;

        h1 {
          text-align: left;
          font-size: 50px;
          margin: 0;
          padding: 0;
        }

        h2 {
          text-align: right;
          font-size: 50px;
          margin: 0;
          padding: 0;
          color: $nav-red-color;
        }

        h3 {
          margin: 0;
          padding: 0;
          text-align: right;
          font-size: 30px;
        }

        .badge-flex {
          text-align: left;
          width: 450px;
          margin-right: 20px;
        }
      }
    }
  }

  .connect-with-us-icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .Occasions {
    display: flex;
    padding-top: 90px;
    justify-content: space-around;
    flex-direction: column;

    .occasions-wrap {
      display: flex;
      flex-direction: row;
      width: 100%;
      overflow: auto;
      justify-content: flex-start;

      .occasion-card {
        flex: 1;
        border: 0;
        margin: 10px;
        height: 250px;
        width: 200px;

        h6 {
          text-align: left;
        }
      }
    }
  }
  .occasion-wrapper::-webkit-scrollbar {
    display: none;
  }
  .hoverCard {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      filter: brightness(0.35);
    }
    p {
      position: absolute;
      display: flex;
      text-align: center;
      color: white;
      font-weight: 600;
      font-size: 1.3rem;
    }
  }
  .hoverCard:hover {
    img {
      filter: brightness(1);
    }
    p {
      display: none;
    }
  }
  #hover-card {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      filter: brightness(0.35);
    }
    p {
      position: absolute;
      display: flex;
      text-align: center;
      color: white;
      font-weight: 600;
      font-size: 1.3rem;
    }
  }
  #hover-card:hover {
    img {
      filter: brightness(1);
    }
    p {
      display: none;
    }
  }

  .products-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .products-wrapper {
      display: flex;
      flex-direction: row;
      overflow: auto;

      .product-card {
        margin: 10px;
        border: none;
        width: 200px;
        height: 250px;
        box-shadow: 10 10 1px 0px black;

        .product-brief {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
  }
}

.product-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;

  .p-btn {
    width: 46%;
  }
}

.showBlogsCardsSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
}

.menu-toggle:hover {
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Media Queries */

/* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 720px) {
  .logo-brand{
    width: 20%;
    padding-left: -50px;
  }
  .main-navbar ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 90px;
    opacity: 0.95;
    left: 0%;
    width: 100%;
    height: calc(100vh - 90px);
    background-color: $nav-red-color;
    justify-content: center;
    align-items: center;
    transform: translate(-100%);
    text-align: center;
    overflow: hidden;
  }
  #resp-img{
    height: 150px;
    object-fit: cover;
    
  }

  .main-navbar li {
    padding: 15px;
  }

  .main-navbar li:first-child {
    margin-top: -50px;
  }

  .main-navbar li a {
    font-size: 1.6rem;
  }
  .main-navbar li a span {
    font-size: 1.6rem;
  }

  .menu-toggle,
  .bar {
    display: block;
    cursor: pointer;
  }

  .mobile-nav {
    transform: translate(0%) !important;
  }

  /* SECTIONS */
}
