$nav-red-color: #ff0033;
$nav-red-color-dark: #ff003357;
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

.main-navbar {
  opacity: 0.9;
  background: $nav-red-color;
  .navbar-brand {
    font-family: "Pacifico", cursive;
  }
}

.Home {
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  margin: 0 !important;

  .main-wrapper {
    background: url("/wallpaper.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;

    .section-1 {
      display: flex;
      flex-direction: row;

      .content-wrapper {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 50vh;
        justify-content: center;
        align-items: flex-end;
        color: beige;
        font-family: "Pacifico", cursive;

        h1 {
          text-align: left;
          font-size: 50px;
          margin: 0;
          padding: 0;
        }
        h2 {
          text-align: right;
          font-size: 50px;
          margin: 0;
          padding: 0;
          color: $nav-red-color;
        }
        h3 {
          margin: 0;
          padding: 0;
          text-align: right;
          font-size: 30px;
        }

        .badge-flex {
          text-align: left;
          width: 450px;
          margin-right: 20px;
        }
      }
    }
  }
  .Occasions {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    .occasions-wrap {
      display: flex;
      flex-direction: row;
      width: 100%;
      overflow: auto;
      justify-content: flex-start;

      .occasion-card {
        flex: 1;
        border: 0;
        margin: 10px;
        height: 250px;
        width: 200px;
        h6 {
          text-align: left;
        }
      }
    }
  }
  .products-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .products-wrapper {
      display: flex;
      flex-direction: row;
      overflow: auto;

      .product-card {
        margin: 10px;
        border: none;
        width: 200px;
        height: 250px;
        box-shadow: 10 10 1px 0px black;

        .product-brief {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
  }
}

.product-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;

  .p-btn {
    width: 46%;
  }
}
